 <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a href="<%= root_path %>">
          <%= image_tag "logo.png", title: "S3 file manager" %>
        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        
                        <!--<li class="active ">
                            <a href="<%= root_path %>">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                          </a>
                        </li>-->
                        <li class="">
                            <a href="<%= bucket_list_path %>">
                                <i class="fas fa-shopping-basket"> Amazon S3</i>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->